
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<h2>Danh sách sản phẩm</h2>

<div class="text-right">
    <a role="button" class="btn btn-primary" href="~/Admin/ProductEdit"><i class="fas fa-plus"></i> Tạo sản phẩm</a>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">


            <thead>
                <tr>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Người tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (THUONGMAIDIENTUEntities db = new THUONGMAIDIENTUEntities())
                {
                    foreach (var item in db.PRODUCTs.ToList())
                    {

                        <tr>
                            <td><img src="~/img/product/@item.PRODUCT_IMG.FirstOrDefault().Filename" width="50"/></td>
                            <td>@item.CATEGORY_PRODUCT.CategoryName</td>
                            <td>@item.ProductName</td>
                            <td>@String.Format("{0:N0}", item.ProductPrice)</td>
                            <td>@item.USER.Fullname</td>
                            <th>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" href="/Admin/ProductEdit/@item.IdProduct"><i class="fas fa-edit"></i></a>
                                    <button type="button" class="btn btn-danger" onclick="DeleteProduct(@item.IdProduct)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </th>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>




<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $('<select class="form-control"><option value="">- Lọc nội dung -</option></select>')
                        .appendTo($(column.header()))
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>')
                    });
                });
            }
        });
    });





    function DeleteProduct(id) {
        if (!confirm("Bạn có thực sự muốn xóa sản phẩm này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteProduct/' + id,
            type: 'DELETE',
            dataType: 'text'
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

</script>
