@model ThuongMaiDienTu.PRODUCT

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/ckeditor.js"></script>

@using (Html.BeginForm("ProductEdit", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    Html.EnableClientValidation(true);

    if (!String.IsNullOrEmpty(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>

    }

    if (!String.IsNullOrEmpty(ViewBag.Success))
    {
        <div class="alert alert-primary" role="alert">
            @ViewBag.Success
        </div>

    }

    if (ViewBag.Id == null)
    {
        @Html.HiddenFor(model => model.IdProduct)
    }
    else
    {
        @Html.HiddenFor(model => model.IdProduct, new { @Value = @ViewBag.Id })
    }

    <div class="form-horizontal">


        <div class="form-group">
            <lable class="control-label">Tên sản phẩm</lable>
            <div>
                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <lable class="control-label">Giá bán</lable>
            <div>
                @Html.EditorFor(model => model.ProductPrice, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.ProductPrice, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <lable class="control-label">Danh mục</lable>
            <div>
                <select name="IdCategory" class="form-control">
                    @using (THUONGMAIDIENTUEntities db = new THUONGMAIDIENTUEntities())
                    {
                        foreach (var item in db.CATEGORY_PRODUCT.ToList())
                        {
                            <option value="@item.IdCategory">@item.CategoryName</option>
                        }
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <lable class="control-label">Hình ảnh</lable>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="files" accept="image/*" multiple>
                <label class="custom-file-label">Hình đầu tiên chọn sẽ là hình mặc định</label>
            </div>
        </div>

        <div class="form-group">
            <lable class="control-label">Mô tả ngắn</lable>
            <div>
                @Html.TextAreaFor(model => model.ProductSumary, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProductSumary, "", new { @class = "text-danger" })
            </div>
        </div>

 

        <div class="form-group">
            <lable class="control-label">Bài giới thiệu</lable>
            <div>
                @Html.TextAreaFor(model => model.ProductDetail, new { @class = "form-control", @id = "ProductDetail" })
                @Html.ValidationMessageFor(model => model.ProductDetail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-lg btn-primary">Lưu lại</button>
        </div>
    </div>
}

<script>
    CKEDITOR.replace('ProductDetail');
</script>
