
@model List<ThuongMaiDienTu.USER>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap4.min.js"></script>

<h2>Danh sách người dùng</h2>

<div class="text-right">
    <button type="button" class="btn btn-primary" onclick="CreateNewUser()"><i class="fas fa-plus"></i> Tạo người dùng</button>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Họ tên</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Quyền hạn</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @using (THUONGMAIDIENTUEntities db = new THUONGMAIDIENTUEntities())
                {
                    foreach (var item in db.USERs.ToList())
                    {
                        <tr>
                            <td>@item.Fullname</td>
                            <td>@item.Username</td>
                            <td>@item.ROLE.RoleName</td>
                            <th>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary" onclick="EditUser(@item.IdUser)"><i class="fas fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger" onclick="DeleteUser(@item.IdUser)"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </th>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>


<div id="create-user-model" class="modal fade create-user-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin người dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Họ tên</label>
                        <input type="text" class="form-control" name="md-name">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tài khoản</label>
                        <input type="text" class="form-control" name="md-username">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Mật khẩu</label>
                        <input type="password" class="form-control" name="md-password">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" name="md-repassword">
                    </div>
                    <div class="form-group">
                        <labe>Vai trò</labe>
                        <select name="md-role" class="form-control">
                            @using (THUONGMAIDIENTUEntities db = new THUONGMAIDIENTUEntities())
                            {
                                foreach (var item in db.ROLEs.ToList())
                                {
                                    <option value="@item.IdRole">@item.RoleName</option>
                                }
                            }
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });

    var id_user = 0;
    function EditUser(id) {
        id_user = id;

        $.ajax({
            url: '/Ajax/GetUser/' + id_user,
            type: 'POST',
            dataType: 'text',
            data: {
                id: id_user,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("[name='md-name']").val(json.Fullname);
            $("[name='md-username']").val(json.Username);
            $("[name='md-password']").val("");
            $("[name='md-repassword']").val("");
            $("[name='md-role']").val(json.IdRole);
            $('#create-user-model').modal('show');
        });

    }

    function DeleteUser(id) {
        if (!confirm("Bạn có thực sự muốn xóa user này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteUser/' + id,
            type: 'DELETE',
            dataType: 'text'
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function CreateNewUser() {
        id_user = 0;
        $("[name='md-name']").val("");
        $("[name='md-username']").val("");
        $("[name='md-password']").val("");
        $("[name='md-repassword']").val("");
        $("[name='md-role']").val(1);
        $('#create-user-model').modal('show');
    }

    function SaveInfo() {
        var name = $("[name='md-name']").val();
        var username = $("[name='md-username']").val();
        var password = $("[name='md-password']").val();
        var repassword = $("[name='md-repassword']").val();
        var role = $("[name='md-role']").val();

        if (name == '' || username == '' || role == '') {
            alert('Vui lòng nhập đủ thông tin');
            return;
        }

        if (id_user == 0) {
            if (password == '' || repassword == '') {
                alert('Vui lòng nhập mật khẩu');
                return;
            }
        }

        if (password != '') {
            if (password != repassword) {
                alert('Mật khẩu xác nhận không hợp lệ');
                return;
            }
        }

        $.ajax({
            url: '/Ajax/EditUser',
            type: 'POST',
            dataType: 'text',
            data: {
                IdUser: id_user,
                IdRole: role,
                Username: username,
                Fullname: name,
                Password: password
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });

    }
</script>
